USE [master]
GO
/****** Object:  Database [FINALPROJECT]    Script Date: 4/7/2026 11:58:51 PM ******/
CREATE DATABASE [FINALPROJECT]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FINALPROJECT', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER2025\MSSQL\DATA\FINALPROJECT.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FINALPROJECT_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER2025\MSSQL\DATA\FINALPROJECT_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FINALPROJECT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FINALPROJECT]
GO
/****** Object:  Table [dbo].[Appointments]    Script Date: 4/7/2026 11:58:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Appointments](
	[appointment_id] [int] IDENTITY(1,1) NOT NULL,
	[appointment_date] [date] NOT NULL,
	[appointment_time] [time](0) NOT NULL,
	[reason] [text] NOT NULL,
	[status] [varchar](50) NOT NULL,
	[client_id] [int] NOT NULL,
	[pet_id] [int] NOT NULL,
	[staff_id] [int] NOT NULL,
 CONSTRAINT [PK_Appointments] PRIMARY KEY CLUSTERED 
(
	[appointment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clients]    Script Date: 4/7/2026 11:58:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clients](
	[client_id] [int] IDENTITY(1,1) NOT NULL,
	[first_name] [varchar](50) NOT NULL,
	[last_name] [varchar](50) NOT NULL,
	[email] [varchar](50) NOT NULL,
	[phone_number] [char](11) NOT NULL,
	[address] [varchar](max) NULL,
	[registered_at] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_Clients] PRIMARY KEY CLUSTERED 
(
	[client_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Medical_Records]    Script Date: 4/7/2026 11:58:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Medical_Records](
	[record_id] [int] IDENTITY(1,1) NOT NULL,
	[visit_date] [date] NOT NULL,
	[diagnosis] [text] NULL,
	[weight_kg] [decimal](5, 2) NOT NULL,
	[notes] [text] NULL,
	[created_at] [datetime2](0) NOT NULL,
	[pet_id] [int] NOT NULL,
	[staff_id] [int] NOT NULL,
 CONSTRAINT [PK_Medical_Records] PRIMARY KEY CLUSTERED 
(
	[record_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Medications]    Script Date: 4/7/2026 11:58:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Medications](
	[medication_id] [int] IDENTITY(1,1) NOT NULL,
	[drug_name] [varchar](100) NOT NULL,
	[standard_dosage] [varchar](100) NOT NULL,
	[unit] [varchar](50) NOT NULL,
	[description] [text] NULL,
 CONSTRAINT [PK_Medications] PRIMARY KEY CLUSTERED 
(
	[medication_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pets]    Script Date: 4/7/2026 11:58:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pets](
	[pet_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NOT NULL,
	[species] [varchar](50) NOT NULL,
	[breed] [varchar](50) NULL,
	[sex] [char](1) NOT NULL,
	[birthdate] [date] NOT NULL,
	[Is_active] [bit] NOT NULL,
	[client_id] [int] NOT NULL,
 CONSTRAINT [PK_Pets] PRIMARY KEY CLUSTERED 
(
	[pet_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Prescriptions]    Script Date: 4/7/2026 11:58:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prescriptions](
	[prescription_id] [int] IDENTITY(1,1) NOT NULL,
	[dosage_given] [varchar](50) NOT NULL,
	[duration_days] [smallint] NOT NULL,
	[Instructions] [text] NULL,
	[record_id] [int] NOT NULL,
	[medication_id] [int] NOT NULL,
 CONSTRAINT [PK_Prescriptions] PRIMARY KEY CLUSTERED 
(
	[prescription_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Staff]    Script Date: 4/7/2026 11:58:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Staff](
	[staff_id] [int] IDENTITY(1,1) NOT NULL,
	[first_name] [varchar](50) NOT NULL,
	[last_name] [varchar](50) NOT NULL,
	[role] [varchar](50) NOT NULL,
	[email] [varchar](50) NOT NULL,
	[phone] [char](11) NOT NULL,
	[license_number] [varchar](50) NULL,
	[is_active] [bit] NOT NULL,
 CONSTRAINT [PK_Staff] PRIMARY KEY CLUSTERED 
(
	[staff_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vaccination_Schedule]    Script Date: 4/7/2026 11:58:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vaccination_Schedule](
	[schedule_id] [int] IDENTITY(1,1) NOT NULL,
	[vaccine_name] [varchar](50) NOT NULL,
	[last_given] [date] NOT NULL,
	[next_due] [date] NOT NULL,
	[reminder_sent] [bit] NOT NULL,
	[pet_id] [int] NOT NULL,
	[record_id] [int] NOT NULL,
 CONSTRAINT [PK_Vaccination_Schedule] PRIMARY KEY CLUSTERED 
(
	[schedule_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Appointments] ON 

INSERT [dbo].[Appointments] ([appointment_id], [appointment_date], [appointment_time], [reason], [status], [client_id], [pet_id], [staff_id]) VALUES (1, CAST(N'2026-04-10' AS Date), CAST(N'09:00:00' AS Time), N'Annual vaccination', N'Scheduled', 1, 3, 1)
INSERT [dbo].[Appointments] ([appointment_id], [appointment_date], [appointment_time], [reason], [status], [client_id], [pet_id], [staff_id]) VALUES (2, CAST(N'2026-04-12' AS Date), CAST(N'10:30:00' AS Time), N'Vomiting and lethargy', N'Scheduled', 2, 4, 2)
INSERT [dbo].[Appointments] ([appointment_id], [appointment_date], [appointment_time], [reason], [status], [client_id], [pet_id], [staff_id]) VALUES (3, CAST(N'2026-04-15' AS Date), CAST(N'14:00:00' AS Time), N'Wing feather check', N'Scheduled', 3, 5, 3)
SET IDENTITY_INSERT [dbo].[Appointments] OFF
GO
SET IDENTITY_INSERT [dbo].[Clients] ON 

INSERT [dbo].[Clients] ([client_id], [first_name], [last_name], [email], [phone_number], [address], [registered_at]) VALUES (1, N'Maria', N'Santos', N'maria.santos@gmail.com', N'9171234567 ', N'12 Mabini St, Quezon City', CAST(N'2026-04-07T22:05:25.0000000' AS DateTime2))
INSERT [dbo].[Clients] ([client_id], [first_name], [last_name], [email], [phone_number], [address], [registered_at]) VALUES (2, N'Jose', N'Reyes', N'jose.reyes@gmail.com', N'9189876543 ', N'45 Rizal Ave, Manila', CAST(N'2026-04-07T22:10:52.0000000' AS DateTime2))
INSERT [dbo].[Clients] ([client_id], [first_name], [last_name], [email], [phone_number], [address], [registered_at]) VALUES (3, N'Ana', N'Cruz', N'ana.cruz@gmail.com', N'9205556677 ', N'8 Bonifacio Blvd, Makati', CAST(N'2026-04-07T22:12:49.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Clients] OFF
GO
SET IDENTITY_INSERT [dbo].[Medical_Records] ON 

INSERT [dbo].[Medical_Records] ([record_id], [visit_date], [diagnosis], [weight_kg], [notes], [created_at], [pet_id], [staff_id]) VALUES (1, CAST(N'2026-04-07' AS Date), N'Healthy; due for booster', CAST(8.50 AS Decimal(5, 2)), N'No abnormalities found', CAST(N'2026-04-07T23:01:49.0000000' AS DateTime2), 3, 1)
INSERT [dbo].[Medical_Records] ([record_id], [visit_date], [diagnosis], [weight_kg], [notes], [created_at], [pet_id], [staff_id]) VALUES (2, CAST(N'2026-04-07' AS Date), N'Mild gastritis', CAST(4.20 AS Decimal(5, 2)), N'Monitor for 3 days', CAST(N'2026-04-07T23:04:10.0000000' AS DateTime2), 4, 2)
INSERT [dbo].[Medical_Records] ([record_id], [visit_date], [diagnosis], [weight_kg], [notes], [created_at], [pet_id], [staff_id]) VALUES (3, CAST(N'2026-04-07' AS Date), N'Feather stress syndrome', CAST(0.05 AS Decimal(5, 2)), N'Recommend cage enrichmen', CAST(N'2026-04-07T23:07:20.0000000' AS DateTime2), 5, 3)
SET IDENTITY_INSERT [dbo].[Medical_Records] OFF
GO
SET IDENTITY_INSERT [dbo].[Medications] ON 

INSERT [dbo].[Medications] ([medication_id], [drug_name], [standard_dosage], [unit], [description]) VALUES (1, N'Amoxicillin', N'10 mg/kg twice daily', N'mg', N'Broad-spectrum antibiotic')
INSERT [dbo].[Medications] ([medication_id], [drug_name], [standard_dosage], [unit], [description]) VALUES (2, N'Ivermectin', N'0.2 mg/kg once', N'ml', N'Antiparasitic for deworming')
INSERT [dbo].[Medications] ([medication_id], [drug_name], [standard_dosage], [unit], [description]) VALUES (3, N'Meloxicam', N'1 tablet daily', N'tablet', N'NSAID for pain and inflammation')
SET IDENTITY_INSERT [dbo].[Medications] OFF
GO
SET IDENTITY_INSERT [dbo].[Pets] ON 

INSERT [dbo].[Pets] ([pet_id], [name], [species], [breed], [sex], [birthdate], [Is_active], [client_id]) VALUES (3, N'Coco', N'Dog', N'Aspin', N'M', CAST(N'2020-03-15' AS Date), 1, 1)
INSERT [dbo].[Pets] ([pet_id], [name], [species], [breed], [sex], [birthdate], [Is_active], [client_id]) VALUES (4, N'Nala', N'Cat', N'Persian', N'F', CAST(N'2021-07-22' AS Date), 1, 2)
INSERT [dbo].[Pets] ([pet_id], [name], [species], [breed], [sex], [birthdate], [Is_active], [client_id]) VALUES (5, N'Tweety', N'Bird', N'Lovebird', N'F', CAST(N'2022-11-05' AS Date), 1, 3)
SET IDENTITY_INSERT [dbo].[Pets] OFF
GO
SET IDENTITY_INSERT [dbo].[Prescriptions] ON 

INSERT [dbo].[Prescriptions] ([prescription_id], [dosage_given], [duration_days], [Instructions], [record_id], [medication_id]) VALUES (1, N'85 mg twice daily', 7, N'Give with food', 1, 1)
INSERT [dbo].[Prescriptions] ([prescription_id], [dosage_given], [duration_days], [Instructions], [record_id], [medication_id]) VALUES (2, N'0.5 tablet daily', 5, N'Avoid on empty stomach', 2, 3)
INSERT [dbo].[Prescriptions] ([prescription_id], [dosage_given], [duration_days], [Instructions], [record_id], [medication_id]) VALUES (3, N'0.01 ml once', 1, N'Single-dose deworming', 3, 2)
SET IDENTITY_INSERT [dbo].[Prescriptions] OFF
GO
SET IDENTITY_INSERT [dbo].[Staff] ON 

INSERT [dbo].[Staff] ([staff_id], [first_name], [last_name], [role], [email], [phone], [license_number], [is_active]) VALUES (1, N'Ramon ', N'Dela Cruz', N'Veterinarian', N'ramon.dc@vetclinic.com', N'9221112222 ', N'VET-2018-0041', 1)
INSERT [dbo].[Staff] ([staff_id], [first_name], [last_name], [role], [email], [phone], [license_number], [is_active]) VALUES (2, N'Liza', N'Navarro', N'Veterinarian', N'liza.n@vetclinic.com', N'9223334444 ', N'VET-2020-0088', 1)
INSERT [dbo].[Staff] ([staff_id], [first_name], [last_name], [role], [email], [phone], [license_number], [is_active]) VALUES (3, N'Carlo', N'Mendoza', N'Vet Tech', N'carlo.m@vetclinic.com', N'9225556666 ', N'NULL', 1)
SET IDENTITY_INSERT [dbo].[Staff] OFF
GO
SET IDENTITY_INSERT [dbo].[Vaccination_Schedule] ON 

INSERT [dbo].[Vaccination_Schedule] ([schedule_id], [vaccine_name], [last_given], [next_due], [reminder_sent], [pet_id], [record_id]) VALUES (2, N'5-in-1 (DHPP)', CAST(N'2026-04-07' AS Date), CAST(N'2027-04-07' AS Date), 1, 3, 1)
INSERT [dbo].[Vaccination_Schedule] ([schedule_id], [vaccine_name], [last_given], [next_due], [reminder_sent], [pet_id], [record_id]) VALUES (3, N'Feline FVRCP', CAST(N'2026-04-07' AS Date), CAST(N'2027-04-07' AS Date), 1, 4, 2)
INSERT [dbo].[Vaccination_Schedule] ([schedule_id], [vaccine_name], [last_given], [next_due], [reminder_sent], [pet_id], [record_id]) VALUES (4, N'Pacheco''s Disease', CAST(N'2026-04-07' AS Date), CAST(N'2026-10-07' AS Date), 1, 5, 3)
SET IDENTITY_INSERT [dbo].[Vaccination_Schedule] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_Clients_Phone]    Script Date: 4/7/2026 11:58:52 PM ******/
ALTER TABLE [dbo].[Clients] ADD  CONSTRAINT [UK_Clients_Phone] UNIQUE NONCLUSTERED 
(
	[phone_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_Clients_Email]    Script Date: 4/7/2026 11:58:52 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UK_Clients_Email] ON [dbo].[Clients]
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_Medications_drugname]    Script Date: 4/7/2026 11:58:52 PM ******/
ALTER TABLE [dbo].[Medications] ADD  CONSTRAINT [UK_Medications_drugname] UNIQUE NONCLUSTERED 
(
	[drug_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_Staff_Phone]    Script Date: 4/7/2026 11:58:52 PM ******/
ALTER TABLE [dbo].[Staff] ADD  CONSTRAINT [UK_Staff_Phone] UNIQUE NONCLUSTERED 
(
	[phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_Staff_Email]    Script Date: 4/7/2026 11:58:52 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UK_Staff_Email] ON [dbo].[Staff]
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_Staff_LicenseNumber]    Script Date: 4/7/2026 11:58:52 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UK_Staff_LicenseNumber] ON [dbo].[Staff]
(
	[license_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Appointments] ADD  CONSTRAINT [DF_Appointments_status]  DEFAULT ('Scheduled') FOR [status]
GO
ALTER TABLE [dbo].[Clients] ADD  CONSTRAINT [DF_Clients_registered_at]  DEFAULT (getdate()) FOR [registered_at]
GO
ALTER TABLE [dbo].[Medical_Records] ADD  CONSTRAINT [DF_Medical_Records_created_at]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Pets] ADD  CONSTRAINT [DF_Pets_Is_active]  DEFAULT ((1)) FOR [Is_active]
GO
ALTER TABLE [dbo].[Staff] ADD  CONSTRAINT [DF_Staff_is_active]  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[Vaccination_Schedule] ADD  CONSTRAINT [DF_Vaccination_Schedule_reminder_sent]  DEFAULT ((0)) FOR [reminder_sent]
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD  CONSTRAINT [FK_Appointments_Clients] FOREIGN KEY([client_id])
REFERENCES [dbo].[Clients] ([client_id])
GO
ALTER TABLE [dbo].[Appointments] CHECK CONSTRAINT [FK_Appointments_Clients]
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD  CONSTRAINT [FK_Appointments_Pets] FOREIGN KEY([pet_id])
REFERENCES [dbo].[Pets] ([pet_id])
GO
ALTER TABLE [dbo].[Appointments] CHECK CONSTRAINT [FK_Appointments_Pets]
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD  CONSTRAINT [FK_Appointments_Staff] FOREIGN KEY([staff_id])
REFERENCES [dbo].[Staff] ([staff_id])
GO
ALTER TABLE [dbo].[Appointments] CHECK CONSTRAINT [FK_Appointments_Staff]
GO
ALTER TABLE [dbo].[Medical_Records]  WITH CHECK ADD  CONSTRAINT [FK_Medical_Records_Pets] FOREIGN KEY([pet_id])
REFERENCES [dbo].[Pets] ([pet_id])
GO
ALTER TABLE [dbo].[Medical_Records] CHECK CONSTRAINT [FK_Medical_Records_Pets]
GO
ALTER TABLE [dbo].[Medical_Records]  WITH CHECK ADD  CONSTRAINT [FK_Medical_Records_Staff] FOREIGN KEY([staff_id])
REFERENCES [dbo].[Staff] ([staff_id])
GO
ALTER TABLE [dbo].[Medical_Records] CHECK CONSTRAINT [FK_Medical_Records_Staff]
GO
ALTER TABLE [dbo].[Pets]  WITH CHECK ADD  CONSTRAINT [FK_Pets_Clients] FOREIGN KEY([client_id])
REFERENCES [dbo].[Clients] ([client_id])
GO
ALTER TABLE [dbo].[Pets] CHECK CONSTRAINT [FK_Pets_Clients]
GO
ALTER TABLE [dbo].[Prescriptions]  WITH CHECK ADD  CONSTRAINT [FK_Prescriptions_Medical_Records] FOREIGN KEY([record_id])
REFERENCES [dbo].[Medical_Records] ([record_id])
GO
ALTER TABLE [dbo].[Prescriptions] CHECK CONSTRAINT [FK_Prescriptions_Medical_Records]
GO
ALTER TABLE [dbo].[Prescriptions]  WITH CHECK ADD  CONSTRAINT [FK_Prescriptions_Medications] FOREIGN KEY([medication_id])
REFERENCES [dbo].[Medications] ([medication_id])
GO
ALTER TABLE [dbo].[Prescriptions] CHECK CONSTRAINT [FK_Prescriptions_Medications]
GO
ALTER TABLE [dbo].[Vaccination_Schedule]  WITH CHECK ADD  CONSTRAINT [FK_Vaccination_Schedule_Medical_Records] FOREIGN KEY([record_id])
REFERENCES [dbo].[Medical_Records] ([record_id])
GO
ALTER TABLE [dbo].[Vaccination_Schedule] CHECK CONSTRAINT [FK_Vaccination_Schedule_Medical_Records]
GO
ALTER TABLE [dbo].[Vaccination_Schedule]  WITH CHECK ADD  CONSTRAINT [FK_Vaccination_Schedule_Pets] FOREIGN KEY([pet_id])
REFERENCES [dbo].[Pets] ([pet_id])
GO
ALTER TABLE [dbo].[Vaccination_Schedule] CHECK CONSTRAINT [FK_Vaccination_Schedule_Pets]
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD  CONSTRAINT [CK_Appointments_AppointmentDate] CHECK  (([appointment_date]>=getdate()))
GO
ALTER TABLE [dbo].[Appointments] CHECK CONSTRAINT [CK_Appointments_AppointmentDate]
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD  CONSTRAINT [CK_Appointments_status] CHECK  (([status]='Cancelled' OR [status]='Completed' OR [status]='Scheduled'))
GO
ALTER TABLE [dbo].[Appointments] CHECK CONSTRAINT [CK_Appointments_status]
GO
ALTER TABLE [dbo].[Medical_Records]  WITH CHECK ADD  CONSTRAINT [CK_Medical_Records_visitdate] CHECK  (([visit_date]<=getdate()))
GO
ALTER TABLE [dbo].[Medical_Records] CHECK CONSTRAINT [CK_Medical_Records_visitdate]
GO
ALTER TABLE [dbo].[Medical_Records]  WITH CHECK ADD  CONSTRAINT [CK_Medical_Records_Weight] CHECK  (([weight_kg]>(0)))
GO
ALTER TABLE [dbo].[Medical_Records] CHECK CONSTRAINT [CK_Medical_Records_Weight]
GO
ALTER TABLE [dbo].[Medications]  WITH CHECK ADD  CONSTRAINT [CK_Medications_unit] CHECK  (([unit]='capsule' OR [unit]='tablet' OR [unit]='ml' OR [unit]='mg'))
GO
ALTER TABLE [dbo].[Medications] CHECK CONSTRAINT [CK_Medications_unit]
GO
ALTER TABLE [dbo].[Pets]  WITH CHECK ADD  CONSTRAINT [CK_Pets_DateNotFuture] CHECK  (([birthdate]<getdate()))
GO
ALTER TABLE [dbo].[Pets] CHECK CONSTRAINT [CK_Pets_DateNotFuture]
GO
ALTER TABLE [dbo].[Pets]  WITH CHECK ADD  CONSTRAINT [CK_Pets_IsActive] CHECK  (([is_active]=(1) OR [is_active]=(0)))
GO
ALTER TABLE [dbo].[Pets] CHECK CONSTRAINT [CK_Pets_IsActive]
GO
ALTER TABLE [dbo].[Pets]  WITH CHECK ADD  CONSTRAINT [CK_Pets_Sex] CHECK  (([sex]='F' OR [sex]='M'))
GO
ALTER TABLE [dbo].[Pets] CHECK CONSTRAINT [CK_Pets_Sex]
GO
ALTER TABLE [dbo].[Prescriptions]  WITH CHECK ADD  CONSTRAINT [CK_Prescriptions_DurationDays] CHECK  (([duration_days]>(0)))
GO
ALTER TABLE [dbo].[Prescriptions] CHECK CONSTRAINT [CK_Prescriptions_DurationDays]
GO
ALTER TABLE [dbo].[Vaccination_Schedule]  WITH CHECK ADD  CONSTRAINT [CK_Vaccination_Schedule_NextDue] CHECK  (([next_due]>[last_given]))
GO
ALTER TABLE [dbo].[Vaccination_Schedule] CHECK CONSTRAINT [CK_Vaccination_Schedule_NextDue]
GO
USE [master]
GO
