USE [master]
GO
/****** Object:  Database [FINALPROJECT]    Script Date: 4/5/2026 6:58:03 PM ******/
CREATE DATABASE [FINALPROJECT]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FINALPROJECT', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER2025\MSSQL\DATA\FINALPROJECT.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FINALPROJECT_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER2025\MSSQL\DATA\FINALPROJECT_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FINALPROJECT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FINALPROJECT]
GO
/****** Object:  Table [dbo].[Appointments]    Script Date: 4/5/2026 6:58:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Appointments](
	[appointment_id] [int] NOT NULL,
	[appointment_date] [date] NOT NULL,
	[appointment_time] [time](0) NOT NULL,
	[reason] [text] NOT NULL,
	[status] [varchar](50) NOT NULL,
	[client_id] [int] NOT NULL,
	[pet_id] [int] NOT NULL,
	[staff_id] [int] NOT NULL,
 CONSTRAINT [PK_Appointments] PRIMARY KEY CLUSTERED 
(
	[appointment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clients]    Script Date: 4/5/2026 6:58:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clients](
	[client_id] [int] NOT NULL,
	[first_name] [varchar](50) NOT NULL,
	[last_name] [varchar](50) NOT NULL,
	[email] [varchar](50) NOT NULL,
	[phone_number] [char](11) NOT NULL,
	[address] [varchar](200) NULL,
	[registered_at] [datetime] NOT NULL,
 CONSTRAINT [PK_Clients] PRIMARY KEY CLUSTERED 
(
	[client_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Medical_Records]    Script Date: 4/5/2026 6:58:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Medical_Records](
	[record_id] [int] NOT NULL,
	[visit_date] [date] NOT NULL,
	[diagnosis] [text] NOT NULL,
	[weight_kg] [decimal](5, 2) NOT NULL,
	[notes] [text] NOT NULL,
	[created_at] [datetime] NOT NULL,
	[pet_id] [int] NOT NULL,
	[staff_id] [int] NOT NULL,
 CONSTRAINT [PK_Medical_Records] PRIMARY KEY CLUSTERED 
(
	[record_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Medications]    Script Date: 4/5/2026 6:58:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Medications](
	[medication_id] [int] NOT NULL,
	[drug_name] [varchar](100) NOT NULL,
	[standard_dosage] [varchar](100) NOT NULL,
	[unit] [varchar](50) NOT NULL,
	[description] [text] NOT NULL,
 CONSTRAINT [PK_Medications] PRIMARY KEY CLUSTERED 
(
	[medication_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pets]    Script Date: 4/5/2026 6:58:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pets](
	[pet_id] [int] NOT NULL,
	[name] [varchar](50) NOT NULL,
	[species] [varchar](50) NOT NULL,
	[breed] [varchar](50) NOT NULL,
	[sex] [char](1) NOT NULL,
	[birthdate] [date] NOT NULL,
	[Is_active] [bit] NOT NULL,
	[client_id] [int] NOT NULL,
 CONSTRAINT [PK_Pets] PRIMARY KEY CLUSTERED 
(
	[pet_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Prescriptions]    Script Date: 4/5/2026 6:58:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prescriptions](
	[prescription_id] [int] NOT NULL,
	[dosage_given] [varchar](50) NOT NULL,
	[duration_days] [smallint] NOT NULL,
	[Instructions] [text] NOT NULL,
	[record_id] [int] NOT NULL,
	[medication_id] [int] NOT NULL,
 CONSTRAINT [PK_Prescriptions] PRIMARY KEY CLUSTERED 
(
	[prescription_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Staff]    Script Date: 4/5/2026 6:58:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Staff](
	[staff_id] [int] NOT NULL,
	[first_name] [varchar](50) NOT NULL,
	[last_name] [varchar](50) NOT NULL,
	[role] [varchar](50) NOT NULL,
	[email] [varchar](50) NOT NULL,
	[phone] [char](11) NOT NULL,
	[license_number] [varchar](50) NOT NULL,
	[is_active] [bit] NOT NULL,
 CONSTRAINT [PK_Staff] PRIMARY KEY CLUSTERED 
(
	[staff_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vaccination_Schedule]    Script Date: 4/5/2026 6:58:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vaccination_Schedule](
	[schedule_id] [int] NOT NULL,
	[vaccine_name] [varchar](50) NOT NULL,
	[last_given] [date] NOT NULL,
	[next_due] [date] NOT NULL,
	[reminder_sent] [bit] NOT NULL,
	[pet_id] [int] NOT NULL,
	[record_id] [int] NULL,
 CONSTRAINT [PK_Vaccination_Schedule] PRIMARY KEY CLUSTERED 
(
	[schedule_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD  CONSTRAINT [FK_Appointments_Clients] FOREIGN KEY([client_id])
REFERENCES [dbo].[Clients] ([client_id])
GO
ALTER TABLE [dbo].[Appointments] CHECK CONSTRAINT [FK_Appointments_Clients]
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD  CONSTRAINT [FK_Appointments_Pets] FOREIGN KEY([pet_id])
REFERENCES [dbo].[Pets] ([pet_id])
GO
ALTER TABLE [dbo].[Appointments] CHECK CONSTRAINT [FK_Appointments_Pets]
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD  CONSTRAINT [FK_Appointments_Staff] FOREIGN KEY([staff_id])
REFERENCES [dbo].[Staff] ([staff_id])
GO
ALTER TABLE [dbo].[Appointments] CHECK CONSTRAINT [FK_Appointments_Staff]
GO
ALTER TABLE [dbo].[Medical_Records]  WITH CHECK ADD  CONSTRAINT [FK_Medical_Records_Pets] FOREIGN KEY([pet_id])
REFERENCES [dbo].[Pets] ([pet_id])
GO
ALTER TABLE [dbo].[Medical_Records] CHECK CONSTRAINT [FK_Medical_Records_Pets]
GO
ALTER TABLE [dbo].[Medical_Records]  WITH CHECK ADD  CONSTRAINT [FK_Medical_Records_Staff] FOREIGN KEY([staff_id])
REFERENCES [dbo].[Staff] ([staff_id])
GO
ALTER TABLE [dbo].[Medical_Records] CHECK CONSTRAINT [FK_Medical_Records_Staff]
GO
ALTER TABLE [dbo].[Pets]  WITH CHECK ADD  CONSTRAINT [FK_Pets_Clients] FOREIGN KEY([client_id])
REFERENCES [dbo].[Clients] ([client_id])
GO
ALTER TABLE [dbo].[Pets] CHECK CONSTRAINT [FK_Pets_Clients]
GO
ALTER TABLE [dbo].[Prescriptions]  WITH CHECK ADD  CONSTRAINT [FK_Prescriptions_Medical_Records] FOREIGN KEY([record_id])
REFERENCES [dbo].[Medical_Records] ([record_id])
GO
ALTER TABLE [dbo].[Prescriptions] CHECK CONSTRAINT [FK_Prescriptions_Medical_Records]
GO
ALTER TABLE [dbo].[Prescriptions]  WITH CHECK ADD  CONSTRAINT [FK_Prescriptions_Medications] FOREIGN KEY([medication_id])
REFERENCES [dbo].[Medications] ([medication_id])
GO
ALTER TABLE [dbo].[Prescriptions] CHECK CONSTRAINT [FK_Prescriptions_Medications]
GO
ALTER TABLE [dbo].[Vaccination_Schedule]  WITH CHECK ADD  CONSTRAINT [FK_Vaccination_Schedule_Medical_Records] FOREIGN KEY([record_id])
REFERENCES [dbo].[Medical_Records] ([record_id])
GO
ALTER TABLE [dbo].[Vaccination_Schedule] CHECK CONSTRAINT [FK_Vaccination_Schedule_Medical_Records]
GO
ALTER TABLE [dbo].[Vaccination_Schedule]  WITH CHECK ADD  CONSTRAINT [FK_Vaccination_Schedule_Pets] FOREIGN KEY([pet_id])
REFERENCES [dbo].[Pets] ([pet_id])
GO
ALTER TABLE [dbo].[Vaccination_Schedule] CHECK CONSTRAINT [FK_Vaccination_Schedule_Pets]
GO
USE [master]
GO
